article {
  margin: 30px auto;
  width: 870px;
  background-color: var(--main-white);
  border-radius: 15px;
}

.course-title {
  font-weight: 500;
  color: var(--main-blue);
  padding: 30px 30px 0 30px;
}

.courses {
  display: flex;
  justify-content: center;
}

.course {
  margin: 30px;
  box-shadow: 2px 4px 7px -1px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 10px;
}

.course-banner img {
  height: 104px;
}

.course-name {
  font-size: 20px;
  font-weight: 500;
}

.star {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.fill {
  color: gold;
}

.duration {
  background-color: rgba(255, 0, 0, 0.356);
  border-radius: 50px;
  padding: 3px 7px;
}
