nav{
    background-color: var(--navbar-bg);
    display: flex;
    justify-content: space-between;
}

.logo{
    
}

.logo img{
    width: 40px;
}


.menu ul{
    display: flex;
    list-style: none;
}

.menu ul a{
    text-decoration: none;
    color: white;
}