header {
  background-color: var(--main-blue);
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 870px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 51px;
}

.logo h3 {
  color: var(--main-white);
  margin: 0 8px;
  font-size: 24px;
  font-weight: 500;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 17px 0;
}

.menu ul a {
  text-decoration: none;
  color: var(--main-white);
  margin: 0 18px;
}
